[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/solidowl/Desktop/Old Firefox Data]
row=6
col=0

[/home/solidowl/Desktop/League of Legends.desktop]
row=3
col=0

[/home/solidowl/Desktop/League of Legends.lnk]
row=4
col=0

[/home/solidowl/Desktop/steam.desktop]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/solidowl]
row=2
col=0

