[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output VGA1 --mode 1920x1200 --output eDP1 --mode 1920x1080 --left-of VGA1'
OnlyShowIn=LXDE
